[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/abmprotocol/ds-test
[submodule "lib/ds-auth"]
	path = lib/ds-auth
	url = https://github.com/abmprotocol/ds-auth
[submodule "lib/ds-note"]
	path = lib/ds-note
	url = https://github.com/abmprotocol/ds-note
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/abmprotocol/ds-math
